@model ExamenTecnico.Models.NotaModelo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>NotaModelo</h4>
<hr />




<div class="paginado">
    <div class="row m-3">
        <div class="col-xl-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contenido" class="control-label"></label>
                    <textarea asp-for="Contenido" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <span asp-validation-for="Contenido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tema" class="control-label"></label>
                    <input asp-for="Tema" class="form-control" />
                    <span asp-validation-for="Tema" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
